include LICENSE.txt README.md caloriestracker.desktop caloriestracker.pro *.py doc/Doxyfile doc/index.dox
recursive-include caloriestracker i18n *.ts *.qm *.png *.jpg *.gif caloriestracker.qrc *.py *.ico *.sql *.svg
prune __pycache__
global-exclude *.pyc doc/*.png doc/*.mxm