{{ name }} ({{ counter }})
<app-menu></app-menu>
<mat-form-field>
    <mat-label>Select a user</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<button (click)="changeTitle()">Change title</button>
<ng-container *ngIf="!isLogged; else logged">
  <button (click)="isLogged = true">Log in</button>
  <button>Register</button>
</ng-container>
<ng-template #logged>
    <button>Administration</button>
    <button>Profile</button>
    <button (click) ="isLogged = false">Close session</button>
</ng-template>

